{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <h1>Profile Page</h1>

    <h3 class="">Update your profile or change password</h3>
    <a class='btn btn-danger' href="{% url 'edit_profile' %}">Go</a>

    </br>


    <div class="d-flex flex-wrap justify-content-center px-5 pt-5">
        {% for post in data %}
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <p> author : {{ post.author.first_name }} {{ post.author.last_name }}</p>
                <p> category : 
                  {%for cat in post.category.all %}
                    <button class ="btn btn-primary btn-sm disabled m-2">{{cat.name}}</button>
                  {%endfor%}
                </br>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
                </p>
                </div>
            </div>
          </div>
      {% endfor %}
  </div>


    
{% endblock %}
